body{
   background-color: black;
}
/*--------------------------nav bar----------------------------------*/
#navigationBtn{
   position: absolute;
   top: 25px;
   right: 0;
   font-size: 20px;
   font-weight: bolder;
}
#header{
   width: 100vw;
   height: 70px;
   background: linear-gradient(to right ,#f40752,#f9ab8f);
}
#home{
   position: relative;
   left: -110px;
   text-decoration: none;
   color: black;

}
#about{
   position: relative;
   left: -100px;
   text-decoration: none;
   color: black;
}
#projects{
   position: relative;
   left: -90px;
   text-decoration: none;
   color: black;
}
#edu{
   position: relative;
   left: -80px;
   text-decoration: none;
   color: black;
}
#skills{
   position: relative;
   left: -70px;
   text-decoration: none;
   color: black;
}
#qualifications{
   position: relative;
   left: -60px;
   text-decoration: none;
   color: black;
}
#assigns{
   position: relative;
   left: -50px;
   text-decoration: none;
   color: black;
}
#services{
   position: relative;
   left: -40px;
   text-decoration: none;
   color: black;
}
#contact{
   position: relative;
   left: -30px;
   text-decoration: none;
   color: black;
}
/*--------------------------home----------------------------------*/
#homeSection{
   width: 100vw;
   height: 100vh;
   border: cyan 2px solid;
   position: relative;
}
#HomeSectionDiv{
   border: red solid 2px;
   width: 70vw;
   height: 80vh;
   position: absolute;
   top: 0;
   right:0;
   bottom: 0;
   left: 0;
   margin: auto;
}
#imgDiv{
   position: absolute;
   border: #f40752 solid 2px;
   border-radius: 100%;
   width: 100px;
   aspect-ratio: 1/1;
   top: -240px;
   right:0;
   bottom: 0;
   left: 0;
   margin: auto;
   overflow: hidden;
}
#smallImg{
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   margin: auto;
   width: 100px;
   height: 100px;
   overflow: hidden;
}
/*placing text*/
#txtDiv {
   position: absolute;
   top: 130px;
   left: 200px;
   width: 500px;
   height: 250px;
   text-align: center;
   font-size: 25px;
}



