body{
   background-color: black;
}
/*--------------------------nav bar----------------------------------*/
#navigationBtn{
   position: absolute;
   top: 25px;
   right: 0;
   font-size: 20px;
   font-weight: bolder;
}
#header{
   width: 100vw;
   height: 70px;
   background: linear-gradient(to right ,#f40752,#f9ab8f);
}
#home{
   position: relative;
   left: -110px;
   text-decoration: none;
   color: black;

}
#about{
   position: relative;
   left: -100px;
   text-decoration: none;
   color: black;
}
#projects{
   position: relative;
   left: -90px;
   text-decoration: none;
   color: black;
}
#edu{
   position: relative;
   left: -80px;
   text-decoration: none;
   color: black;
}
#skills{
   position: relative;
   left: -70px;
   text-decoration: none;
   color: black;
}
#qualifications{
   position: relative;
   left: -60px;
   text-decoration: none;
   color: black;
}
#assigns{
   position: relative;
   left: -50px;
   text-decoration: none;
   color: black;
}
#services{
   position: relative;
   left: -40px;
   text-decoration: none;
   color: black;
}
#contact{
   position: relative;
   left: -30px;
   text-decoration: none;
   color: black;
}
/*--------------------------home----------------------------------*/
#homeSection{
   width: 100vw;
   height: 100vh;
   position: relative;
   border-bottom: white 2px solid;
}
#HomeSectionDiv{
   border: #FF073A solid 2px;
   width: 70vw;
   height: 90vh;
   position: absolute;
   top: 0;
   right:0;
   bottom: 0;
   left: 0;
   margin: auto;
}
#imgDiv{
   position: absolute;
   border: #f40752 solid 2px;
   border-radius: 100%;
   width: 100px;
   aspect-ratio: 1/1;
   top: -280px;
   right:0;
   bottom: 0;
   left: 0;
   margin: auto;
   overflow: hidden;
}
#smallImg{
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   margin: auto;
   width: 100px;
   height: 100px;
   overflow: hidden;
}
/*placing text*/
#txtDiv {
   position: absolute;
   top: 130px;
   left: 200px;
   width: 500px;
   height: 250px;
   text-align: center;

}
#myName{
   color: white;
   font-size: 50px;

}
#homeTxt1,#homeTxt2,#homeTxt3,#homeTxt4{
   color: #FF5F1F;
   font-size: 25px;
   font-family: sans-serif;
}
/*--------------------------about----------------------------------*/
#abt{
   width: 100vw;
   height: 100vh;
   position: relative;
   border-bottom: white solid 2px;

}
#subSection{
   width: 90vw;
   height: 80vh;
   border: #FF073A solid 2px;
   position: absolute;
   top: 0;
   bottom: 0;
   right:0;
   left: 0;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(1,1fr);

}
#txtAbt{
   font-size: 35px;
   color: white;
   position: absolute;
   left: 50vw;
   top: -15px;
}
#column1{
   position: relative;
}
#myBigImg{
   position: absolute;
   left: 0;
   right: 0;
   bottom:0;
   top: 0;
   margin: auto;
   border-radius: 35%;
   border:#FF5F1F solid 2px;
}
#iconImgDiv{
   position: absolute;
   bottom: 40px;
   left:65px;
   margin: 20px;
   width: 210px;
}
#git{
   position: absolute;
   left: 0;
   border-radius: 30%;
}
#mail{
   position: absolute;
   left: 60px;
   top: -10px;
   width: 50px;
   height: 60px;
}
#whsp{
   position: absolute;
   left:120px;
}
#lnk{
   position: absolute;
   left: 180px;
}
#column2{
   grid-column: 2/4;
   position: relative;
   box-shadow: 5px 3px 20px 0 cyan ;

}
#pInfo{
   position: absolute;
   top: 10px;
   left: 20px;
   color: #FF5F1F;
   font-size: 30px;
   font-family: sans-serif;
}
#abtSectionTxtDiv{
   color: #FF5F1F ;
   font-size: 20px;
   font-family: sans-serif;
   position: absolute;
   left: 100px;
   top: 130px;
}
#email{
   position: relative;
   top: 20px;
}
#address{
   position: relative;
   top: 40px;
}
#country{
   position: relative;
   top: 60px;
}
#work{
   position: relative;
   top: 80px;
}
#cvBtn{
   position: absolute;
   bottom: 10px;
   right: 10px;
   background: black;
   color: white;
}
/*--------------------------projects----------------------------------*/
#projectSec{
   width: 100vw;
   height:100vh;
   position: relative;
   border-bottom: white 2px solid;
}
#projectSec>div>h2{
   font-size:35px ;
   color: white;
   position: absolute;
   top:-20px;
   left: 50vw;
}
#subSec{
   width: 90vw;
   height:80vh;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(1,1fr);
   position: absolute;
   top: 0;
   bottom: 0;
   right:0;
   left: 0;
   margin:auto;
   overflow: hidden;
}
#pro1{
   position: relative;
   margin: 2px;
   box-shadow: 5px 3px 20px 0 #FF5F1F;
}
#pImg1{
   position: absolute;
   top: 10px;
   left: 20px;
}
#pro1>div{
   position: relative;
   top: 250px;
   left: 70px;
   color: white;
}
#projectTitle{
   font-size: 25px;

}
#projectsTxt.para{
   position: absolute;
   top: -20px;
   font-family: sans-serif;
}
#pro1>a>img{
   position: absolute;
   top: 400px;
   left: 160px;
}
#pro2{
   margin: 2px;

   /*box-shadow: 5px 3px 20px 0 cyan;*/
}
#pro3{
   margin: 2px;
   /*box-shadow: 5px 3px 20px 0 cyan;*/
}
#projectSec>input{
   position: absolute;
   bottom: 10px;
   left: 45vw;
   background: black;
   color: white;
}
/*--------------------------education----------------------------------*/
#eduSection{
   width: 100vw;
   height: 100vh;
   position: relative;

}
#txtEducation{
   position: absolute;
   top: 0;
   left: 45vw;
   color: white;
   font-size: 35px;
   margin: 0;
}
#subSectionEdu{
   width: 90%;
   height: 90%;
   position: absolute;
   bottom: 10px;
   left: 60px;
   box-shadow: 5px 5px 20px 0 #FF5F1F;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(1,1fr);
}
#div1{
   /*border: cyan 2px solid;*/
   position: relative;
}
#div1>img{
   position: absolute;
   top: 20px;
   left: 60px;
}
#pTags{
   position: absolute;
   bottom: 20px;
   left: 50px;
   color: white;
   font-family: sans-serif;
   font-size: 20px;
}
#div2{
   /*border: cyan 2px solid;*/
   position: relative;
}
#bar{
   width: 10px;
   height:480px;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   border-radius: 10px 10px 10px 10px;
   background: #FF073A;
}
#circle1{
   width: 20px;
   aspect-ratio: 1/1;
   border-radius: 100%;
   background: white;
   position: absolute;
   top: 100px;
   left: 182px;
}
#circle2{
   width: 20px;
   aspect-ratio: 1/1;
   border-radius: 100%;
   background: white;
   position: absolute;
   top: 360px;
   left: 182px;
}
#div3{
   /*border: cyan 2px solid;*/
   position: relative;
}
#secondPTags{
   position: absolute;
   top: 30px;
   left: 30px;
   color: white;
   font-family: sans-serif;
   font-size: 20px;
}
#div3>img{
   position: absolute;
   bottom: 60px;
   left: 60px;
}
/*--------------------------skills----------------------------------*/
#skillsSec{
   width: 100vw;
   height: 100vh;
   position: relative;
}
#txtSkills{
   position: absolute;
   top: 0;
   left: 50vw;
   margin: 0;
   color: white;
   font-size: 35px;
}
#skillsSubSec{
   width: 90vw;
   height: 90vh;
   position: absolute;
   top: 20px;
   right: 0;
   left: 0;
   bottom: 0;
   margin: auto;
   display: grid;
   border: #FF073A 2px solid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: repeat(1,1fr);
   overflow: hidden;
}
#section1{
   border-right: #FF073A 2px solid;
   position: relative;

}
#java{
   position: absolute;
   top: 0;
   left: 100px;
   color: white;
   display: flex;
   font-size: 18px;
}
#html{
   position: absolute;
   top: 75px;
   left: 100px;
   color: white;
   display: flex;
   font-size: 15px;
}
#mysql{
   position: absolute;
   top: 150px;
   left: 100px;
   color: white;
   display: flex;
   font-size: 18px;
}
#intelij{
   position: absolute;
   top: 225px;
   left: 100px;
   color: white;
   display: flex;
   font-size: 18px;
}
#github{
   position: absolute;
   top: 340px;
   left: 100px;
   color: white;
   display: flex;
   font-size: 18px;
}
#js{
   position: absolute;
   top: 420px;
   left: 100px;
   color: white;
   display: flex;
   font-size: 18px;
}
#section2{
   border-right: #FF073A 2px solid;
   position: relative;
}
#NodeJs{
   position: absolute;
   top: 0;
   left: 100px;
   color: white;
   display: flex;
   font-size: 18px;
}
#vsCode{
   position: absolute;
   top: 75px;
   left: 100px;
   color: white;
   display: flex;
   font-size: 18px;
}
#gitIcon{
   position: absolute;
   top: 150px;
   left: 100px;
   color: white;
   display: flex;
   font-size: 18px;
}
#mongo{
   position: absolute;
   top: 225px;
   left: 100px;
   color: white;
   display: flex;
   font-size: 18px;
}
#springBoot{
   position: absolute;
   top: 340px;
   left: 100px;
   color: white;
   display: flex;
   font-size: 18px;
}
#spring{
   position: absolute;
   top: 420px;
   left: 100px;
   color: white;
   display: flex;
   font-size: 18px;
}
#section3{
   position: relative;
}
#figma{
   position: absolute;
   top: 0;
   left: 100px;
   color: white;
   display: flex;
   font-size: 18px;
}
#css{
   position: absolute;
   top: 75px;
   left: 100px;
   color: white;
   display: flex;
   font-size: 18px;
}
#react{
   position: absolute;
   top: 150px;
   left: 100px;
   color: white;
   display: flex;
   font-size: 18px;
}










